.git
.github
.pnpm-store
node_modules
**/node_modules

**/.env
**/.env.*
!**/.env.example

**/dist
**/.next
**/out
**/coverage
**/.turbo

frontend-svelte
agentic-auditor
ai-sandbox
cli-ernest
merkle-wasm

docs/img
backups
npm-debug.log*
pnpm-debug.log*
